<p>Hi there, thank you for using <b>imagik</b>, a simple app for searching <a href="http://www.flickr.com/" onclick="window.open(this.href)">Flickr</a> for images. The app is not affiliated with Flickr, or its users, in any way.</p>

<p>Safe searching is enabled, so don't try to search for pornography or other obscene images -- it will not work.</p>

<p>Please feel free to give feedback to the developers. <a href="/feedback">Send a message through the app</a> or add <b>teamglio</b> as a contact in Mxit to chat.</p>

:-)